---
import { ClientRouter } from "astro:transitions";
import Header from "../components/header.astro";
interface Props {
    title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{title}</title>
        <ClientRouter />
    </head>
    <body class="bg-white text-gray-800 font-sans antialiased">
        <div class="max-w-5xl mx-auto px-4 py-8">
            <header class="mb-12 border-b pb-4">
                <Header />

                <div
                    class="grid grid-cols-1 md:grid-cols-[1fr_260px] gap-12 items-start"
                >
                    <main class="min-w-0">
                        <slot />
                    </main>
                </div>

                <footer
                    class="mt-20 pt-8 border-t text-center text-xs text-gray-400"
                >
                    &copy; 2026 t-log
                </footer>
            </header>
        </div>
    </body>
</html>
